body { 

background:#cfd8dc;

}

#photo {

margin:auto;
margin-top:100px;
height:200px;
width:200px;
border-radius:300px;
border:3px solid black;
overflow:hidden;

}

.logoutLblPos{

   position:fixed;
   right:20px;
   top:5px;
}

.logoutLblPos2{

   position:fixed;
   right:100px;
   top:5px;
}

#photo img { height:200px; width:200px;}

#about {

margin:auto;
margin-top:10px;
height:200px;
width:200px;


}

#about table { width:200px;}
#about table tr td { background:black; color:white; border:1px solid white; padding:10px; font-family:Cuprum; text-align:center;}